<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>34</string>
		<string>35</string>
		<string>36</string>
		<string>37</string>
		<string>38</string>
		<string>39</string>
		<string>40</string>
		<string>41</string>
	</array>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
	</array>
</array>
</plist>
